/*
 * Variables
 *
 */
$info-color: #d2e7fc;
$success-color: #d6f6ea;
$warning-color: #feecde;
$danger-color: #fcdce2;


ttc-alert{
  display: block;
  min-width: 250px;
  min-height: 50px;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
  color: #000;
  border: 1px solid transparent;
  text-shadow: 0 1px 0 #fff;
  animation: ttc-alert-fadein 1s;
}

@keyframes ttc-alert-fadein {
  from { opacity: 0; }
}

ttc-alert button {
  float: right;
  position: relative;
  top: -0.5rem;
  right: -1.25rem;
  padding: .2rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  padding-top: .75rem;
  font-size: 100%;
  line-height: 1.15;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

ttc-alert-content::before {
  content: "";
  clear: both;
  display: table;
}

ttc-alert-title {
  float: left;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

ttc-alert[type="danger"] {
  background-color: $danger-color;
  border-color: $danger-color;
}

ttc-alert[type="info"] {
  background-color: $info-color;
  border-color: $info-color;
}

ttc-alert[type="success"] {
  background-color: $success-color;
  border-color: $success-color;
}

ttc-alert[type="warning"] {
  background-color: $warning-color;
  border-color: $warning-color;
}
